.textGradient {
  background: -webkit-linear-gradient(
    rgb(94, 162, 239) 25%,
    rgb(0, 114, 245) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
